<!DOCTYPE html>
<html>

    <head>
        <title>pace-it-right</title>
        <link rel="stylesheet" href="{{ 'index.css' | url }}"/>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="/index.js"></script>
    </head>

    <body>
        <h1 class="text-2xl text-center">pace-it-right</h1>

        <main class="px-2 max-w-3xl my-4 mx-auto">
            <section class="flex">
                <button type="button" class="border p-2 mr-2 flex-1">Swim</button>
                <button type="button" class="border p-2 mr-2 flex-1">Bike</button>
                <button type="button" class="border p-2 flex-1">Run</button>
            </section>

            <div x-data="swim">
                <section class="my-2" x-data="{ pace: true }">
                    <h2 class="text-xl">Eingabe</h2>
                    <div>
                        <input type="radio" id="swim-pace" name="swim-input-choice" value="swim-pace" @click="pace = true"
                    checked/>
                        <label for="swim-pace">Pace (min/100m)</label>

                        <input type="radio" id="swim-distance-time" name="swim-input-choice" value="swim-distance-time"
                    @click="pace = false"/>
                        <label for="swim-distance-time">Distanz / Zeit</label>
                    </div>

                    <div class="my-2" x-show="pace">
                        <input type="number" id="swim-input-pace-minutes" step="1" min="0" max="5" class="border w-12" x-model="swimPaceMinutes"
                    @blur="calculateSwimTimesByPace"/>
                        <span>:</span>
                        <input type="number" id="swim-input-pace-seconds" step="1" min="0" max="59" class="border w-12" x-model="swimPaceSeconds"
                    @blur="calculateSwimTimesByPace"/>
                    </div>

                    <div class="my-2" x-show="!pace">
                        <div>
                            <label for="swim-distance-input">Distanz in Meter</label>
                            <input type="number" id="swim-distance-input" step="1" min="1" max="20000" class="border w-12"/>
                        </div>
                        <div class="my-2">
                            <label>Zeit in Minuten und Sekunden</label>
                            <input type="number" step="1" min="0" max="500" class="border w-12"/>
                            <span>:</span>
                            <input type="number" step="1" min="0" max="59" class="border w-12"/>
                        </div>
                    </div>

                </section>

                <section class="my-2">
                    <div class="flex justify-between my-4">
                        <span>Gängige Distanzen</span>
                        <div>Caret</div>
                    </div>
                    <template x-for="(swimTime, index) in swimTimesCommonDistances" :key="index">
                        <div class="flex justify-between">
                            <div>
                                <span x-text="swimTime.distance"></span>
                                <span x-text="swimTime.distanceUnit"></span>
                            </div>
                            <span x-text="swimTime.time"></span>
                        </div>
                    </template>

                    <div class="my-4 flex justify-between">
                        <span>Triathlon</span>
                        <div>Caret</div>
                    </div>
                    <template x-for="(swimTime, index) in swimTimesTriathlon" :key="index">
                        <div class="flex justify-between">
                            <div>
                                <span x-text="swimTime.distance"></span>
                                <span x-text="swimTime.distanceUnit"></span>
                            </div>
                            <span x-text="swimTime.time"></span>
                        </div>
                    </template>

                    <div class="my-4 flex justify-between">
                        <span>Benutzerdefiniert</span>
                        <div>Caret</div>
                    </div>
                    <div>
                        <div>
                            <label for="swim-distance-input">Distanz in Meter</label>
                            <input type="number" min="1" max="20000" x-model="customSwimDistanceInMeters" @blur="calculateSwimTimesByPace">
                        </div>
                        <p>Ergebnis</p>

                        <div class="flex justify-between">
                            <div>
                                <span x-text="customSwimDistanceInMeters"></span>m
                            </div>
                            <span x-text="customSwimTime"></span>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </body>

</html>