<!DOCTYPE html>
<html>

    <head>
        <title>pace-it-right</title>
        <link rel="stylesheet" href="{{ 'index.css' | url }}"/>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="/index.js"></script>
    </head>

    <body x-data="{ selectedSport: 'swim' }">
        <h1 class="text-2xl text-center">pace-it-right</h1>

        {% include 'nav.njk' %}

        <main class="px-2 max-w-3xl my-4 mx-auto">
            {{ content | safe }}
        </main>
    </body>
</html>